body {
	margin:0;
	padding:0;
}

.border {
	border: 1px solid black;
	padding: 10px;
}

.flex {
	display: flex;
}
.flex1 {
	flex: 1;
}

.flex2 {
	flex: 2;
}

}
.right {
	background: lightgreen;
	padding: 10px;
	margin: 5px;
}
.column {
	flex-direction: column;
}
.background {
	height: 100px;
	background: lightblue;
}

.background1 {
	background: yellow;
	height: 100px;
}

.right1 {
	justify-content: space-between;
}

.right2 {
	background: lightgreen;
	padding: 10px;
	margin: 5px;
}