
/*
текст комментария
*/
/*css селекторы - указывают браузеру, какие элементы html
нужно выбрпть для применения стилей*/
/*css селектор (
	свойство1: значение;
	свойство2: значение;
	свойство4: значение;)*/
	/*1. Селектор тега_(имя тега)*/
	/*то что ниже вырулит*/
	h3 {
		color: green;
	}
	/*# - применение стилей к айди - т.е. один элемент*/
	#container 
	{
height: 100px;
width: 300px;
background: yellow;

	}	

	.text-center {
		text-align: center;
	}
	/*. (точка) - это класс*/

/*дочерний селектор*/
/*css-селектор1 > css-селектор2 {}*/
/* стили применяются к последнему css селектору */
	P > span {
	color: blue;
	font-weight: bold;
	}

	/*селектор потомков - когда одни элементы вложены в другие*/

	div span {
		/*ко всем спанам в диве*/
		color: orange;
	}

	/*6 селектор атрибута*/
css-selector [атрибут]
css-selector [атрибут="значение"]
[атрибут]
[атрибут="значение"]

input[type="text"] { /*ЭТО ПРИМЕР*/

}
/*пробел говорит о вложенности в элемент*/
	div .green a {
		text-decoration: none;
		color: red;
	}

	p.brown a {
		/*стиль применится только если а вложен в р 
		с классом браун*/
		text-decoration: line-through;
		color: brown;}

		.inherit-1 {
			color: red;
			border: 1px solid black;
			/*рамка не унаследовалась*/
		}

		.inherit-1{
			border: inherit;
		}

		#some_id {
			background: yellow;
		}

		.some-class {
			background: green;
		}
		h5 {
			background: red;
		}
		/*специфичность id - 0100, class 0010, 
		tag 0001, встроенный стиль - 1000*/

		/*наследование d css- к элементу, а стили наследуются*/

	/*Селектор класса (стили применяются ко всем элементам, 
	для которых указан соответствующий класс*/
		
		
		